<div class="intro-img" data-r>
  <img
    src="<%= image_src %>"
    alt="<%= alt_text %>"
    class="intro-photo"
    loading="lazy">
  <div class="intro-photo-overlay">
    <p><%= text %></p>
  </div>
</div>
