<section class="s" id="secteurs">
  <div class="z">
    <span class="lbl" data-r>Clients & secteurs</span>
    <h2 class="sh" data-r>Public · Privé · <em>Sensibles.</em></h2>
    <div class="sgrid">
      <div class="sc" data-r><div class="sc-b"></div><h4>Entreprises technologiques</h4><p>Scale-ups, éditeurs logiciels, plateformes SaaS</p></div>
      <div class="sc" data-r data-d="1"><div class="sc-b"></div><h4>PME & ETI</h4><p>Transformation numérique, modernisation SI</p></div>
      <div class="sc" data-r data-d="2"><div class="sc-b"></div><h4>Secteur public</h4><p>Administrations, ministères, opérateurs d État</p></div>
      <div class="sc" data-r data-d="3"><div class="sc-b"></div><h4>Collectivités</h4><p>Régions, métropoles, communes, EPCI</p></div>
      <div class="sc" data-r><div class="sc-b"></div><h4>Industrie</h4><p>Manufacturing, maintenance prédictive, IoT</p></div>
      <div class="sc" data-r data-d="1"><div class="sc-b"></div><h4>Défense & souveraineté</h4><p>Systèmes sécurisés, air-gapped, conformité</p></div>
      <div class="sc" data-r data-d="2"><div class="sc-b"></div><h4>Conseil & services</h4><p>ESN, cabinets, opérateurs marchés publics</p></div>
    </div>
  </div>
</section>
