<div class="about-sectors" data-r>
  <span class="about-sectors-lbl">Secteurs d'intervention</span>
  <div class="about-sectors-list">
    <span>Industrie &amp; Énergie</span>
    <span>Santé &amp; Médico-social</span>
    <span>État &amp; Collectivités</span>
    <span>Défense &amp; Aéronautique</span>
    <span>Finance &amp; Assurance</span>
    <span>Transport &amp; Logistique</span>
    <span>Juridique &amp; Conformité</span>
    <span>Éducation &amp; Recherche</span>
  </div>
</div>
